html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

#tomato {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #f00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #fff;
}

#timer {
  position: relative;
  bottom: 20px;
}